// customize bootstrap elements:
$navbar-default-bg: #000;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  border-radius: 0; /* undo rounded corners on nav bar */
}

#site-logo {
  float: left;
  font-size: 1.7;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#site-logo:hover,
#site-logo:focus {
  color: #ddd;
  text-decoration: none;
}

.jumbotron {
  background: #c00;
  height: 550px;
}
.jumbotron h1 {
  color: #fff;
  margin-bottom: 30px;
  letter-spacing: -1px;
}
.btn-xlarge {
  font-size: 1.7em;
  background: black;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}
.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer small {
  float: left;
}
footer nav {
  float: right;

  ul {
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
