.form-header {
  text-align: center;
}
form {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
label,
input[type="text"],
select,
textarea {
  font: inherit;
  display: block;
  width: 100%;
  padding: 0.25em;
  margin: 0 0 0.25em;
}
textarea {
  resize: vertical;
  min-height: 10em;
}
